Repository m2-modules/react-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn format", "yarn lint"],
  "*.{json,md}": ["yarn format"]
}

build: edit scripts
  .yarn/install-state.gz
  package.json
  packages/ui/button/package.json
  yarn.lock
Due: yarn format

build: update build config
  packages/ui/button/package.json
  packages/ui/button/vite.config.ts
Due: yarn format, yarn lint

test: implement jest
  packages/libs/jest-config-react-ui/babel.config.js
  packages/libs/jest-config-react-ui/package.json
  packages/ui/button/.eslintrc.json
  packages/ui/button/babel.config.js
  packages/ui/button/package.json
  packages/ui/button/test/Button.test.tsx
  packages/ui/button/test/__snapshots__/Button.test.tsx.snap
  yarn.lock
Due: yarn format, yarn lint

chore: change turbo scripts
  package.json
  turbo.json
Due: yarn format

chore: change scripts
  package.json
  packages/ui/button/package.json
  packages/ui/button/src/Button.tsx
  turbo.json
Due: yarn format, yarn lint

build: implement changeset
  .changeset/README.md
  .changeset/config.json
  .gitignore
  package.json
  packages/libs/eslint-config-react-ui/package.json
  packages/libs/jest-config-react-ui/package.json
  packages/libs/tsconfig/package.json
  packages/ui/button/.eslintrc.json
  packages/ui/button/.npmignore
  packages/ui/button/CHANGELOG.md
  packages/ui/button/package.json
  yarn.lock
Due: yarn format

chore: remove changelog
  packages/ui/button/CHANGELOG.md
Due: yarn format

feat: implement plop generator
  generator/plopfile.mjs
  generator/templates/ui/.eslintrc.json
  generator/templates/ui/.npmignore
  generator/templates/ui/README.md.hbs
  generator/templates/ui/babel.config.js
  generator/templates/ui/package.json.hbs
  generator/templates/ui/src/index.ts.hbs
  generator/templates/ui/src/{{ pascalCase name }}.tsx.hbs
  generator/templates/ui/stories/{{ pascalCase name }}.stories.tsx.hbs
  generator/templates/ui/test/{{ pascalCase name }}.test.tsx.hbs
  generator/templates/ui/tsconfig.json
  generator/templates/ui/vite.config.ts
  package.json
  packages/ui/button/README.md
  packages/ui/button/src/Button.tsx
  packages/ui/button/src/index.ts
  packages/ui/button/stories/Button.stories.tsx
  packages/ui/button/test/Button.test.tsx
  packages/ui/button/test/__snapshots__/Button.test.tsx.snap
  yarn.lock
Due: yarn format, yarn lint

chore: change file ext
  generator/templates/ui/.eslintrc.json.hbs
  generator/templates/ui/.npmignore.hbs
  generator/templates/ui/tsconfig.json.hbs
  generator/templates/ui/vite.config.ts.hbs
Due: none

style: implement tailwind css
  .storybook/main.js
  .storybook/preview.js
  .storybook/tailwind.css
  generator/templates/ui/package.json.hbs
  package.json
  postcss.config.js
  tailwind.config.js
  tailwind.css
  yarn.lock
Due: yarn format

feat(modal): create modal component
  .storybook/tailwind.css
  packages/ui/modal/.eslintrc.json
  packages/ui/modal/.npmignore
  packages/ui/modal/README.md
  packages/ui/modal/babel.config.js
  packages/ui/modal/package.json
  packages/ui/modal/src/Modal.tsx
  packages/ui/modal/src/index.ts
  packages/ui/modal/stories/Modal.stories.tsx
  packages/ui/modal/test/Modal.test.tsx
  packages/ui/modal/test/__snapshots__/Modal.test.tsx.snap
  packages/ui/modal/tsconfig.json
  packages/ui/modal/vite.config.ts
  yarn.lock
Due: yarn format, yarn lint

fix(generator): change default component name in template
  generator/templates/ui/src/{{ pascalCase name }}.tsx.hbs
Due: none

feat(overlay): add overlay module
  .storybook/tailwind.css
  packages/libs/tsconfig/react-ui.json
  packages/ui/overlay/.eslintrc.json
  packages/ui/overlay/.npmignore
  packages/ui/overlay/README.md
  packages/ui/overlay/babel.config.js
  packages/ui/overlay/package.json
  packages/ui/overlay/src/Overlay.tsx
  packages/ui/overlay/src/index.ts
  packages/ui/overlay/stories/Overlay.stories.tsx
  packages/ui/overlay/test/Overlay.test.tsx
  packages/ui/overlay/tsconfig.json
  packages/ui/overlay/vite.config.ts
  yarn.lock
Due: yarn format, yarn lint

fix(eslint): extends react jsx-rutime to turn off importing warning
  packages/libs/eslint-config-react-ui/index.js
  packages/ui/modal/src/Modal.tsx
  packages/ui/overlay/src/Overlay.tsx
Due: yarn format, yarn lint

chore: remove modal component
  packages/ui/modal/.eslintrc.json
  packages/ui/modal/.npmignore
  packages/ui/modal/README.md
  packages/ui/modal/babel.config.js
  packages/ui/modal/package.json
  packages/ui/modal/src/Modal.tsx
  packages/ui/modal/src/index.ts
  packages/ui/modal/stories/Modal.stories.tsx
  packages/ui/modal/test/Modal.test.tsx
  packages/ui/modal/test/__snapshots__/Modal.test.tsx.snap
  packages/ui/modal/tsconfig.json
  packages/ui/modal/vite.config.ts
Due: yarn format, yarn lint

feat(dialog): add dialog component
  .storybook/tailwind.css
  generator/templates/ui/src/{{ pascalCase name }}.tsx.hbs
  packages/ui/dialog/.eslintrc.json
  packages/ui/dialog/.npmignore
  packages/ui/dialog/README.md
  packages/ui/dialog/babel.config.js
  packages/ui/dialog/package.json
  packages/ui/dialog/src/Dialog.tsx
  packages/ui/dialog/src/index.ts
  packages/ui/dialog/stories/Dialog.stories.tsx
  packages/ui/dialog/test/Dialog.test.tsx
  packages/ui/dialog/test/__snapshots__/Dialog.test.tsx.snap
  packages/ui/dialog/tsconfig.json
  packages/ui/dialog/vite.config.ts
  packages/ui/overlay/src/Overlay.tsx
  packages/ui/overlay/vite.config.ts
Due: yarn format, yarn lint

fix(overlay): add private active state to handle overlay section
  packages/ui/overlay/src/Overlay.tsx
  packages/ui/overlay/test/__snapshots__/Overlay.test.tsx.snap
Due: yarn format, yarn lint

feat(dialog): apply updated overlay module
  .storybook/tailwind.css
  packages/ui/dialog/src/Dialog.tsx
  packages/ui/dialog/stories/Dialog.stories.tsx
Due: yarn format, yarn lint

fix(build): extract vite config to commot
  .storybook/tailwind.css
  generator/templates/ui/.eslintrc.json.hbs
  generator/templates/ui/package.json.hbs
  generator/templates/ui/vite.config.js.hbs
  packages/libs/vite-config-react-ui/package.json
  packages/libs/vite-config-react-ui/vite.config.js
  packages/ui/dialog/.eslintrc.json
  packages/ui/dialog/package.json
  packages/ui/dialog/vite.config.js
  packages/ui/dialog/vite.config.ts
  packages/ui/overlay/.eslintrc.json
  packages/ui/overlay/package.json
  packages/ui/overlay/vite.config.js
  packages/ui/overlay/vite.config.ts
  yarn.lock
Due: yarn format, yarn lint

fix(build): implement pnpm
  .storybook/tailwind.css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: yarn format

feat(overlay): extend props to change transition
  packages/react-ui/src/Overlay/Overlay.tsx
  packages/react-ui/src/stories/Overlay.stories.tsx
Due: yarn format, yarn lint

feat(dialog): extend props to change transition
  packages/react-ui/src/Dialog/Dialog.tsx
  packages/react-ui/src/stories/Dialog.stories.tsx
  packages/react-ui/src/stories/Overlay.stories.tsx
Due: yarn format, yarn lint

feat(dialog): extend props to handle overlay
  packages/react-ui/src/Dialog/Dialog.tsx
Due: yarn format, yarn lint

feat(overlay): support multiple transition classes
  packages/react-ui/src/Overlay/Overlay.tsx
  packages/react-ui/src/stories/Overlay.stories.tsx
Due: yarn format, yarn lint

chore(dialog): change storybook name
  packages/react-ui/src/stories/Dialog.stories.tsx
Due: yarn format, yarn lint

feat(dialog,overlay): add portal by custom hook
  packages/react-ui/src/Dialog/Dialog.tsx
  packages/react-ui/src/Overlay/Overlay.tsx
  packages/react-ui/src/hooks/usePortal.ts
Due: yarn format, yarn lint

style(storybook): add fullscreen layout config
  .storybook/preview.js
Due: none

fix(dialog, overlay): change event handler name and add position property in dialog
  packages/react-ui/src/Dialog/Dialog.tsx
  packages/react-ui/src/Overlay/Overlay.tsx
  packages/react-ui/src/stories/Overlay.stories.tsx
  packages/react-ui/src/test/Dialog.test.tsx
  packages/react-ui/src/test/Overlay.test.tsx
Due: yarn format, yarn lint

feat(context-menu): add context menu component
  packages/react-ui/src/ContextMenu/ContextMenu.tsx
  packages/react-ui/src/ContextMenu/index.tsx
  packages/react-ui/src/stories/ContextMenu.stories.tsx
  packages/react-ui/src/stories/Dialog.stories.tsx
Due: yarn format, yarn lint

chore(context-menu): change default properties
  packages/react-ui/src/ContextMenu/ContextMenu.tsx
Due: yarn format, yarn lint

chore(deps): upgrading storybook to v7.0.4
  .storybook/main.js
  package.json
  pnpm-lock.yaml
Due: yarn format

feat(carousel): add new carousel component
  .vscode/settings.json
  packages/react-ui/src/Carousel/Carousel.tsx
  packages/react-ui/src/Carousel/index.tsx
  packages/react-ui/src/stories/Carousel.stories.tsx
Due: yarn format, yarn lint

fix(storybook): implement latest storybook
  packages/react-ui/src/stories/Carousel.stories.tsx
  packages/react-ui/src/stories/ContextMenu.stories.tsx
  packages/react-ui/src/stories/Dialog.stories.tsx
  packages/react-ui/src/stories/Overlay.stories.tsx
Due: yarn format, yarn lint

chore(build): update build script to depends on linting
  turbo.json
Due: yarn format

chore(release): release v1.0.0
  .changeset/smooth-masks-repair.md
Due: yarn format
